.dropdown-wrapper {
  margin-top: 2vw;
}

.dropdown {
  overflow: hidden;
  height: fit-content;
  margin-bottom: 3vw;
  background-color: var(--background-color);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown:hover .dropdown-header {
  opacity: 0.9;
}

.dropdown-header {
  padding: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 30px;
}

.chevron,
.chevron-ouvert {
  height: 9px;
  width: 15px;
  margin-right: 1rem;
}

.chevron {
  transition: 400ms ease-in-out;
}

.chevron-ouvert {
  transition: 400ms ease-out;
  transform: rotate(-180deg);
}

.dropdown-title {
  padding-left: 0.5rem;
  font-size: 13px;
  font-weight: 500;
}

.dropdown-text {
  transform: translateY(-100%);
  transition: 400ms ease-in-out;
  overflow: hidden;
}

.dropdown-text-close {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  color: var(--primary-color);
}

.dropdown-text-open {
  overflow: hidden;
  transition: 500ms ease-out;
  transform: translateY(0%);
  padding: 1rem;
  max-height: fit-content;
  opacity: 1;
  color: var(--primary-color);
  font-size: 12px;
}

@media screen and (min-width: 750px) {
  .dropdown-wrapper {
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dropdown-header {
    height: 52px;
    border-radius: 10px;
  }
  .dropdown-title {
    font-size: 18px;
    font-weight: 500;
  }
  .dropdown-text-open p,
  li {
    line-height: 34.22px;
    font-weight: 400;
    font-size: 24px;
  }
  .chevron,
  .chevron-ouvert {
    height: 15.5px;
    width: 26.5px;
    margin-right: 1rem;
  }
}
