.slider {
  margin-top: 30px;
  margin-bottom: 2em;
  position: relative;
  height: 255px;
  width: 100%;
}

.slider__img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0;
  animation: appearing 1s ease-in-out forwards;
}

.slider__count{
  display: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  z-index: 10;
  bottom: 25px;
  left: 50%;
  right: 50%;
  transform: translate(50%);
  position: absolute;
}

@keyframes appearing {
  to {
    opacity: 1;
  }
}

.chevron-slider {
  z-index: 10;
  cursor: pointer;
  height: 40px;
  width: 24px;
}

.chevron-slider:hover {
  filter: brightness(0.9);
}

.chevron-prev {
  transform: rotate(-90deg);
  position: absolute;
  top: 45%;
  left: 5px;
}

.chevron-next {
  transform: rotate(90deg);
  position: absolute;
  top: 45%;
  right: 5px;
}

@media screen and (min-width: 750px) {
  .slider {
    height: 415px;
    border-radius: 25px;
  }
  .slider__count{
    display: block;
  }
  .chevron-slider {
    height: 80px;
    width: 47px;
  }
  
}


